<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Fernando's News </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large"> Fernando's News </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <body>
    <div ng-controller="controladorDatos">
      <h1>A.Team</h1>
      <ul>
        <li ng-repeat="integrante in equipo.integrantes">
          {{integrante.rango}} {{integrante.nobre}} {{integrante.especialidad}}
        </li>
      </ul>
    </div>
    <script type="text/javascript">

      var misDatos=angular.module('datosApp',[]);
      misDatos.controller('controladorDatos',function($scope,$http){

        $scope.importar=function(){

          $http.get('noticias.json').succcess(function(datos){

            $scope.equipo=datos;
          });
        }
        $scope.importar();
      }
    </script>
  </body> -->



  <app-articles [articles]="articles">



  </app-articles>
</ion-content>
